* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  scroll-behavior: smooth;
}
/* VARIABLES */
:root {
  --color1: #020b13;
  --color2: #262626;
  --color3: #daab2d;
  --color4: #a57a03;
  --color5: #400128;
}
/* HEADER */
header {
  background-color: var(--color1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  width: 150px;
}
nav {
}
nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
nav ul li a {
  color: var(--color3);
  text-decoration: none;
  font-size: 30px;
}
/* SECTION */
section {
  height: 100vh;
}
/* CONTENIDO */
#content {
  display: flex;
  background-color: var(--color1);
  justify-content: space-evenly;
  align-items: center;
}
#content div {
  width: 50%;
  padding: 100px;
}
#content div h1 {
  color: var(--color3);
  font-size: 40px;
}
#content div p {
  font-size: 23px;
  color: var(--color3);
}
#content div img {
  width: 50%;
}
/* MARCAS */
.brand-cont {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color1);
}
.brand-card img {
  filter: drop-shadow(0px 0px 3px var(--color3));
  width: 340px;
}
/* FRAGANCIAS */
#perfumes {
  background-color: tomato;
}
/* CONTACTO */
#contact {
  background-color: red;
}
/* PIE DE PAGINA */
footer {
  background-color: green;
}
